Daten/*.csv
Daten/*.zip
DABI1.db

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
**/.ipynb_checkpoints/

# VS Code and other IDEs
**/.virtual_documents/
**/.vscode/