Daten/*.csv
Daten/*.zip
DABI1.db
src/PowerBI/PowerBI_fertig.pbix
dabi1.zip

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
**/.ipynb_checkpoints/*.ipynb

# VS Code and other IDEs
**/.virtual_documents/*.ipynb
**/.vscode/